:root {
  --color-light-blue: #343d70;
  --color-dark-blue: #10143a;
  --color-light-border: #565d91;
  --color-text-blue: #57e3ea;
  --color-text-red: #e4587c;
}

* {
  font-family: "Bebas Neue", cursive;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    var(--color-light-blue),
    var(--color-dark-blue)
  );
}

header a {
  text-decoration: none;
  position: relative;
}

header img {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 75%;
}

header a h1 {
  color: white;
  font-size: 2.4rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
}

.data {
  max-width: 100%;
  padding: 1rem 0;
  border-top: thin solid var(--color-light-border);
  border-bottom: thin solid var(--color-light-border);
}

.data span {
  color: white;
  display: block;
  text-align: center;
  padding-bottom: 5px;
}

.videoLength {
  display: flex;
  justify-content: center;
}

.videoLength label {
  padding: 0 0.4rem;
  font-size: 5rem;
  color: var(--color-text-blue);
}

.videoLength input {
  border: thin solid var(--color-light-border);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);

  max-width: 3.2rem;

  color: white;
  font-size: 3rem;
  text-align: center;

  transition: all 0.5s;
}

.videoLength input:first-of-type {
  width: 4rem;
  max-width: 4rem;
}

.videoLength input:hover {
  transform: scale(1.1);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.data form {
  padding-top: 1rem;
}

.data form button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;

  width: 15rem;
  height: 3rem;

  font-size: 2rem;

  border: thin solid var(--color-light-border);
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.1);

  color: white;

  transition: all 0.5s;
  cursor: pointer;
}

.data form button:hover {
  background: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.speeds {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 1rem;
  color: var(--color-text-red);
}

.speeds input {
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: var(--color-text-blue);
  transition: all 0.5s;
  padding: 0 5px;
}

.results {
  margin-top: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 2s;
}

.results > span {
  font-size: 2.1rem;
  color: white;
}

.time {
  font-size: 5rem;
  color: var(--color-text-blue);
}

@media (min-width: 700px) and (max-width: 999px) {
  header {
    display: flex;
    justify-content: center;
  }
  header img {
    display: inline;
    max-width: 200px;
    padding-bottom: 2rem;
  }
  header a h1 {
    border-left: thin solid var(--color-light-border);
    padding: 15px;
    display: inline;
    vertical-align: 3rem;
    font-size: 4rem;
  }
}

@media (min-width: 1000px) {
  header {
    display: flex;
    justify-content: center;
  }
  header img {
    display: inline;
    max-width: 400px;
    padding-bottom: 2rem;
  }
  header a h1 {
    border-left: thin solid var(--color-light-border);
    padding: 15px;
    display: inline;
    vertical-align: 4.2rem;
    font-size: 4rem;
  }

  .data span {
    font-size: 1.5rem;
  }

  .speeds {
    font-size: 2rem;
  }
  input[type="radio"] {
    transform: scale(1.5);
    margin: 10px;
    color: red;
  }
}
